.ws-search {
  border: 1px solid #eee;
  border-radius: 4px;
}

.ws-search,
input {
  background: none;
}

.linknav {
  color: #985629;
}

.linknav:hover {
  color: #985629;
}

.base-card {
  margin-bottom: 10px;
}

.curve-card {
  border-radius: 12px;
}

.custom-container {
  padding: 15px;
}

.border-end-attached {
  border-right: none !important;
}

.push-search {
  padding-right: 10px;
}

.jumbotron {
  border: 1px solid #ccc;
  border-radius: 12px;
  text-align: center;
  align-items: center;
  padding: 20px;
}

.adjust-form {
  margin-top: 30px;
}

.border-area {
  border: 1px #ccc !important;
  padding: 12px;
}

.float-right {
  float: right;
}

.setSelectedActive {
  background-color: #985629;
}

.over-avatar {
  position: relative;
  display: inline-block;
}

.over-avatar:hover .edit {
  display: block;
}

.edit {
  padding-top: 7px;
  padding-right: 7px;
  position: absolute;
  left: 90px !important;
  right: 5;
  top: 0;

  /* border: 1px solid #fff;
  border-radius: 50%;
  padding: 8px !important; */

  /* bottom: 45px !important; */
  /* display: none; */
}

.edit .cool-btn {
  color: #fff;
  font-size: 31px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.color-white {
  color: #fff;
}

.extra-button {
  margin-left: 10px;
}

.main-profile {
  margin: 12px;
}

.hide-onmain {
  display: none !important;
}

@media screen and (max-width: 990px) {
  .pads {
    margin-top: 10px;
  }

  .hide-mobile {
    display: none;
  }

  .hide-onmain {
    display: block !important;
  }
}

.customise-button {
  border: none;
  border-radius: 10px;
  background-color: #F0E7E1;
  color: #985629;
  padding: 5px;
  min-width: 120px;
}

.customise-button:hover {
  background-color: #985629;
  color: #fff;
}

.extra-button2 {
  margin-left: 170px;
}

.over-avatar {
  /* background-image: url('../assets/images/ape.png') */
}

.cursor-on {
  cursor: pointer;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.circle-closed {
  margin: 12px;
  font-size: 22px;
}

.img-container-grid {
  display: flex;
  flex-wrap: wrap;
}

.smallsquare {
  max-width: 20%;
  height: auto;
  flex: 0 0 20%;
  padding-top: 20%;
  display: grid;
  position: relative;
}

.h_rectangle {
  max-width: 40%;
  flex: 0 0 40%;
  padding-top: 20%;
  position: relative;
}

.bigsquare {
  max-width: 40%;
  height: auto;
  flex: 0 0 40%;
  padding-top: 40%;
  display: grid;
  position: relative;
}
.bigsquare_blank {
  max-width: 40%;
  height: auto;
  flex: 0 0 40%;
  display: flex;
  flex-wrap: wrap;
}
.inner_square {
  max-width: 50%;
  flex: 0 0 50%;
  height: 50%;
  position: relative;
}
.v_rectangle {
  max-width: 20%;
  flex: 0 0 20%;
  padding-top: 40%;
  position: relative;
}

.img-grid-c {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  object-position: center;
  padding: 2.5px;
}

.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  opacity: 1;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  /* color: #f1f1f1; */
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.width-300 {
  width: 300px !important;
}

.width-0 {
  width: 0 !important;
}

.off-border {
  border-radius: 0 !important;
}

.chase-avater {
  margin-top: -20px !important;
}

.custom-avatar {
  border-bottom-left-radius: 20% !important;
  border-bottom-right-radius: 20% !important;
  border-top-left-radius: 20% !important;
  border-top-right-radius: 20% !important;
  transform: rotate(20deg);
}

.hex-main {
  display: block;
  margin: 0 auto;
  position: relative;
  /* width: 320px;
  height: 277.12px; */
  width: 120px;
  height: 107.12px;
  /* background: red; */
  box-sizing: border-box;
  -webkit-clip-path: polygon(
    0% 50%,
    25% 0%,
    75% 0%,
    100% 50%,
    75% 100%,
    25% 100%
  );
  -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex-background {
  position: absolute;
  background-color: orange; /*color of the main-background*/
  top: 2px; /* equal to border thickness */
  left: 2px; /* equal to border thickness */
  /* width: 316px;
  height: 273.12px; */
  width: 176px;
  height: 103.12px;
  -webkit-clip-path: polygon(
    0% 50%,
    25% 0%,
    75% 0%,
    100% 50%,
    75% 100%,
    25% 100%
  );
  -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex-main img {
  position: absolute;
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.off-border-q {
  border: none !important;
}

.leftbox {
  float:left;
  width:50%;
}

.rightbox{
  float:right;
  width:50%;
}

.bolden {
  font-weight: bolder;
}

.add-pad-10 {
  padding-top: 10px;
}

.add-mag-10 {
  margin-top: 20px !important;
}

.add-pad {
  padding: 10px;
}