.ws-search {
    border: 1px solid #eee;
    border-radius: 4px;
}

.ws-search, input {
    background: none;
}

.linknav {
    color: #985629;
}

.linknav:hover {
    color: #985629;
}

.base-card {
    margin-bottom: 10px;
}

.curve-card {
    border-radius: 12px;
}

.custom-container {
    padding: 15px;
}

.border-end-attached {
    border-right: none !important;
}

.push-search {
    padding-right: 10px;
}